[submodule "dsa_front"]
	path = dsa_front
	url = https://github.com/zakkii-k/dsa_front
	branch = main
[submodule "dsa_back"]
	path = dsa_back
	url = https://github.com/zakkii-k/dsa_back
	branch = main
[submodule "dsa_sample_answer"]
	path = dsa_sample_answer
	url = https://github.com/zakkii-k/dsa_sample_answer
